{% extends 'base_layout.html' %}
{% block body %}
<div class="jumbotron mt-3 bg-dark shadow-lg">
  <div class="jumbotron" id="#aboutus">
    <h1 class="dissplay-2">ชื่อ:นายภูริปกรณ์ ศรียอด</h1><br>
    <p class="lead"></p>
    <hr class="my-4">
    <p class="dissplay-2">61102010158</p>
    <br>
    <p class="dissplay-2">
      <a class="btn btn-primary btn-lg" href="https://github.com/users/orbzone1/projects/1" target="_blank" role="button">Github</a>
    </p>
  </div>
</div>
{% endblock %}

